:root {
    --verdigris: hsla(184, 36%, 60%, 1);
    --light-blue: hsla(175, 26%, 73%, 1);
    --ash-gray: hsla(153, 30%, 77%, 1);
    --tea-green: hsla(75, 57%, 81%, 1);
    --straw: hsla(69, 56%, 63%, 1);
}

/* general styling */

body {
    background-color: var(--ash-gray);
    padding-top: 10em;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Work Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.password-entry {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 0.5em;
    padding: 0;
}

form div {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}

form div:focus-within,
form div:hover {
    background-color: white;
    border-radius: 10px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin-top: .5rem;
    padding: 10px;
    background-color: transparent;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

input:focus {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: var(--ash-gray);
    border-radius: 10px 10px 0 0;
}

input::placeholder {
    font-weight: 600;

}

/* button  */

button {
    cursor: pointer;
    margin-top: 1em;
    align-self: center;
    padding: 0.8em 1.8em;
    font-size: 1.2rem;
    color: white;
    background-color: var(--verdigris);
    border: 0;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 250ms;
}

button:hover {
    background-color: #fff;
    color: var(--verdigris);
    transform: scale(102%);
}

button:active {
    border: 3px solid var(--verdigris);
    transform: scale(98%);
}

/* input validation */
.invalid,
.valid {
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 1.8em;
}

.valid {
    background-color: var(--tea-green);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11.0026 16L6.75999 11.7574L8.17421 10.3431L11.0026 13.1716L16.6595 7.51472L18.0737 8.92893L11.0026 16Z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

.invalid {
    background-color: #ec8784;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 10.5858L14.8284 7.75736L16.2426 9.17157L13.4142 12L16.2426 14.8284L14.8284 16.2426L12 13.4142L9.17157 16.2426L7.75736 14.8284L10.5858 12L7.75736 9.17157L9.17157 7.75736L12 10.5858Z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}